.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list-item {
    background-color: var(--white-color);
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .team-title {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.team .team-text {
    color: var(--text-color);

    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: var(--white-color);
}